body {
    background-color: #222831;
    font-family: 'Courier New', Courier, monospace;
}

h1 { 
    text-align: center;
    font-size: 3rem;
    color: gray;
}

h2 {
    color: gray;
}

div.container {
    margin: auto;
    width: 700px;
    height: 500px;
    border: none; /*you can remove this later*/
    padding-left: 20px;
}

input.main-quest-input {
    width: 520px;
    margin-left: 30px;
    height: 27px;
    background-color: #181818;
    color: #cabfab;
}

input.side-quest-input {
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 27px;
    background-color: #181818;
    color: #cabfab;
}

input.checkbox {
    width: 20px;
    height: 20px;
    align-items: center;
    background-color: #181818;
}

button.accept-quest-button {
    border-color: #00adb8; 
    background-color: #00adb8;
    height: 27px;
}

button.accept-quest-button:hover {
    cursor: pointer;
    background-color: #393e46;
    color: white;
    border-color: #393e46;
}

button.edit-button, button.abandon-button {
    border-color: #00adb8; 
    background-color: #00adb8;
    height: 25px;
}

button.edit-button:hover, button.abandon-button:hover {
    cursor: pointer;
    background-color: #393e46;
    border-color: #393e46;
    color: white;
}

 div.side_quest_container{
    margin-top: 75px;
}

/* Also, take note that they say you need to design for the mobile first then proceed to desktop. 
In order to load faster on mobile devices. */

/* Here in my case, I didnt know that concept. So I did first the desktop design then proceeded to mobile.
This concept may be true or not, lets find out on the future learnings. */

/* Sooooo I learned just now that it is not important what device should you design first.
But Im curious if I did the mobile first, will it make it load faster? 
Who knows haha, I might try it in the future */

/* For mobile devices */


@media only screen and (max-width: 480px) {
    body {background-color: black;}
}
